/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

.article-container {
  position: relative;
  height: 200px; /* Example height */
  width: 200px; /* Example width */
  /* Adjust height and width as needed */
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
  transition: all 300ms ease;
}

a:hover {
  filter: brightness(80%);
  text-decoration: underline;
  text-underline-offset: 0.8rem;
  text-decoration-color: color rgb(181, 181, 181);
}

.logo-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: block;
  font-size: 2rem;
  margin-right: 8px;
  font-weight: 500;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0%;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.extra-width {
  width: 100% !important;
  max-width: 800px !important;
}

.input2 {
  font-family: "Poppins", sans-serif;
  width: 100%;
  margin-bottom: 8px;
  border: 1px solid #5b22ff;
  border-radius: 9999px;
  padding: 4px 8px;
  outline: none;
  transition: all 300ms ease;
}

.input2:focus {
  border: 3px solid #5b22ff;
}

.moon-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.moon-cont2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.moon-title {
  font-size: 36px;
}

.moon-btn {
  font-size: 24px;
  background-color: #5b22ff;
  color: white;
  border: none;
  border-radius: 9999px;
  padding: 12px 18px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  border: 2px solid #5b22ff;
  margin-top: 16px;
}

.moon-btn2 {
  font-size: 12px;
  background-color: #5b22ff;
  color: white;
  border: none;
  border-radius: 9999px;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  border: 2px solid #5b22ff;
  margin-top: 2px;
  transition: all 300ms ease;
  font-family: "Poppins", sans-serif;
}

.moon-btn2:hover {
  background-color: white;
  border: 2px solid black;
  color: black;
}

.moon-btn3 {
  font-size: 12px;
  background-color: #5b22ff;
  color: white;
  border: none;
  border-radius: 9999px;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  border: 2px solid #5b22ff;
  margin-top: 2px;
  margin-right: 8px;
  transition: all 300ms ease;
  margin-bottom: 4px;
}

.moon-btn3:hover {
  background-color: white;
  border: 2px solid black;
  color: black;
}

.moon-btn:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.moon-btn4 {
  font-size: 12px;
  background-color: #5b22ff;
  color: white;
  border: none;
  border-radius: 9999px;
  padding: 8px 24px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  border: 2px solid #5b22ff;
  margin-top: 2px;
  transition: all 300ms ease;
  font-family: "Poppins", sans-serif;
  margin-bottom: 2px;
  margin-right: 4px;
}

.moon-btn4:hover {
  background-color: white;
  border: 2px solid black;
  color: black;
}

.moon-btn5 {
  font-size: 12px;
  background-color: #5b22ff;
  color: white;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  border: 2px solid #5b22ff;
  transition: all 300ms ease;
  font-family: "Poppins", sans-serif;
  margin-bottom: 2px;
  width: 36px;
  height: 36px;
  margin-left: 4px;
}

.moon-btn5:hover {
  background-color: white;
  border: 2px solid black;
  color: black;
}

.payment {
  font-family: 'Poppins', sans-serif;
}

.tab {
  margin-right: 8px;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 4rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

#profile .arrow {
  right: 5.8%; /* Adjust the right positioning for the arrow in the profile section */
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.repo-btn {
  width: 15rem;
  background-color: #5b22ff;
  border: none;
  font-weight: 400;
  border: 2px solid #5b22ff;
  border-radius: 9999px;
  padding: 12px 24px;
  color: white;
  transition: all 300ms ease-in-out;
}

.repo-btn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid black;
}

.btn-color-1,
.btn-color-2 {
  border: #5b22ff 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid black;
}

.btn-color-1 {
  color: white;
}
.btn-color-2:hover {
  background: white;
  color: black;
}

.btn-color-1:hover {
  background: white;
  color: black;
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  display: flex; /* Add this line to ensure flex layout */
  justify-content: center; /* Center items horizontally */
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.details-container.color-container {
  display: flex;
  justify-content: center; /* Center children horizontally */
  align-items: center; /* Center children vertically */
  flex-direction: column; /* Stack children vertically */
  height: 100%; /* Ensure the container has a defined height */
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* TEAM SECTION */

#team {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.team-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
  cursor: pointer;
}

.team-title {
  margin: 1rem;
  color: black;
}

.input {
  font-family: "Poppins", sans-serif;
  width: 75%;
  margin-bottom: 8px;
  border: 1px solid #5b22ff;
  border-radius: 9999px;
  padding: 4px 8px;
  outline: none;
  transition: all 300ms ease;
}

.input:focus {
  border: 3px solid #5b22ff;
}

.team-btn {
  color: white;
  background-color: #5b22ff;
  border: 2px solid #5b22ff;
  transition: all 300ms ease;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.team-btn:hover {
  color: black;
  background-color: white;
  border: 2px solid black;
}

.team-member-name {
  font-size: 2rem;
}

.team-member-role {
  font-size: 1rem;
  color: rgb(85, 85, 85);
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: 2px solid #5b22ff;
  background-color: #5b22ff;
  margin: 2rem auto;
  padding: 0.5rem;
  color: white;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container {
  font-size: larger;
  color: white;
}

.lastbtn {
  color: white;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* TRY ME SECTION*/
#try_me {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}
/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}
